/* styles/Page1.module.css */

/* Container styles */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2em;
  background-color: #f0f8ff;
  color: #000;
  min-height: 100vh;
}

/* Form container styling */
.formContainer {
  background: #f0f8ff;
  border-radius: 1.5em;
  padding: 2rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
}

.heading {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #8467b8;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputField {
  position: relative;
  width: 100%;
  max-width: 250px;
  margin-bottom: 1.5rem;
}

.label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
}

.input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
  background: none;
  transition: all 0.3s ease; /* Add transition for smooth effect */
}

.input:focus {
  border-color: #b7a5df; /* Light purple border color */
  background-color: #e9eef1; /* Optional: Light purple background */
  padding: 0.75rem 0; /* Optional: Increase padding to create expansion effect */
  transform: scale(1.05); /* Optional: Slightly scale up the input field */
}

.input:focus ~ .label,
.input:valid ~ .label {
  font-size: 14px;
  top: -24px;
  color: #6a4584;
}

.button {
  border: 1px solid white;
  padding: 0.75rem 1.5rem;
  background-color: transparent;
  cursor: pointer;
  margin-top: 1.5rem;
  border-radius: 9999px;
  transition: transform 0.2s, background-color 0.3s, color 0.3s;
  backdrop-filter: blur(12px);
  background: linear-gradient(
    to bottom right,
    rgba(75, 30, 133, 1),
    rgba(75, 30, 133, 0.01)
  );
  color: white;
}

.button:hover {
  background-color: var(--color-dark);
  color: #fff;
}

.gifContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.gif {
  max-width: 75%;
  border-radius: 1.5em;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #e9eef1;
}
